<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monespace text-center">Vai que vai </h1>
        </div>
    </div>
    
    <div class="row w-100 mt-4 mb4">
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iste excepturi voluptates enim nobis quibusdam veniam perferendis nemo consequatur. Voluptatum dolores dolor dolorum dignissimos eveniet adipisci quibusdam pariatur blanditiis maiores.

            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aut dolorem commodi magni a, vitae necessitatibus consectetur natus magnam! Ea labore quaerat beatae possimus voluptates cum sunt repellendus est odit!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae voluptas hic maiores consectetur at, suscipit architecto pariatur iure! Vel error iure fugit veritatis et eius aspernatur nobis nam laborum cum?</p>
        </div>
    </div>
</div>

    <div class="parallax"> </div>
    <div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 d-flex justify-content-center w-100">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
    </div>

