<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C5103AQF41T1bAVXKNw/profile-displayphoto-shrink_400_400/0?e=1609977600&v=beta&t=0cuTYlqOnAn7a9sMKgo4zT9quVIkI04xkU0hy2sz98I" alt="Imagem de capa do card"> 
    </div>
    
    <div class="card-body">
      <h5 class="card-title texter-center texter-monospace">Maicon Douglas</h5>
      <p class="card-text texter-center texter-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      
      <a href="www.linkedin.com/in/maicon-douglas" class="btn btn-outline-info mb-3 d-flex justify-content-center bg-info text-light" target="blank">Linkedin</a>

      <a href="https://github.com/maiconMD" target="blank" class="btn btn-outline-light mb-3 d-flex justify-content-center bg-info text-light">GitHub</a>
    </div>
  </div>